html {
	font-family:Arial,sans-serif;
	font-size:13px;
}
.header {
	position:fixed;
	top:0px;
	right:10px;
	height:30px;
	width:100%;
	text-align:right;
	padding-right:25px;
	padding-top:10px;
}
.footer {
	background-color:#F2F2F2;
	border:1px solid #ccc;
	position:fixed;
	left:0px;
	bottom:0px;
	height:40px;
	width:100%;
	text-align:center;
}
.main {
	clear:both;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
	display:inline-block;
	text-align:center;
}
li {
	display:inline;
	vertical-align:middle;
}
li a {
	display:inline-block;
	text-decoration:none;
	color:#6A666A;
	padding:10px;
}
li img {
	vertical-align:middle;
	margin-left:15px;
}
.footerLeft{
	float:left;
	padding-left:15px;
}
.footerRight{
	float:right;
	padding-right:15px;
}
.portrait {
	border-radius:100%;
}
#logo {
	width:100%;
}
#logo img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:200px;
}
.mainsearch {
	width:540px;
	display:block;
  	margin-left:auto;
  	margin-right:auto;
}
#container {
	margin-top: 20px;
	width:100%;
}
.btn {
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 2px;
  font-weight: bold;
  background-color: #F5F5F5;
  border: 1px solid #ddd;
  color: #666;
  margin: 0 6px;
}
.buttons {
	text-align:center;
	margin-top:20px;
}
input {
  display: block;
  width: 100%;
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 2px;
  transition: border-color 0.2s ease-in;
}
input:focus {
  border-color: #4285F4;
}